In [ ]:
import pandas as pd

df = pd.DataFrame([['Maria', 27],['Jose', 28],['Jisus', 33]],
                  columns = ['Nombre', 'Edad'])


df['Profesion']= ['Virgen', 'Papito', 'Mesias' ]
df['Correo'] = ['mariamadredejesus@gmail.com', 'josepadredejesus@gmail.com', 'yotesalvo@gmail.com']
df['Identificacion'] = ['123456789', '987654321', '111111111']

print(df)

  Nombre  Edad
0  Maria    27
1   Jose    28
2  Jisus    33
  Nombre  Edad Profesion                       Correo Identificacion
0  Maria    27    Virgen  mariamadredejesus@gmail.com      123456789
1   Jose    28    Papito   josepadredejesus@gmail.com      987654321
2  Jisus    33    Mesias          yotesalvo@gmail.com      111111111

In [7]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]), columns=['A','B','C'])

print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [12]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5,4), columns=['Columna_1', 'Columna_2', 'Columna_3', 'Columna_4'])
df['Columna_4'] = [f'texto_{i}' for i in range(5)]
print(df)

   Columna_1  Columna_2  Columna_3 Columna_4
0  -0.573898  -0.297854   1.010012   texto_0
1  -0.028983  -0.903899   0.734777   texto_1
2   0.432701  -1.959683   1.722442   texto_2
3  -0.727976  -0.026388   0.323281   texto_3
4   0.926561   0.471020   1.087603   texto_4

In [19]:
import pandas as pd
import numpy as np

empresa = pd.DataFrame(np.random.rand(10,7), columns=['Identificación', 'Nombre', 'Apellido', 'Edad','Teléfono','Email','Ciudad'])
empresa['Nombre']= ['Juan', 'Pedro', 'Maria', 'Jose', 'Luis', 'Ana', 'Jisus', 'Pablo', 'Lucas', 'Mateo']
empresa['Apellido']= ['Gonzalez', 'Lopez', 'Martinez', 'Hernandez', 'Garcia', 'Rodriguez', 'Fernandez', 'Torres', 'Ramirez', 'Diaz']
empresa['Edad'] = [25, 30, 22, 28, 35, 40, 29, 31, 27, 33]
empresa['Teléfono'] = [f'60000000{i}' for i in range(10)]
empresa['Email'] = [f'apostol{i}@gmail.com' for i in range(10)]
empresa['Ciudad'] = ['Madrid', 'Barcelona', 'Valencia', 'Sevilla', 'Bilbao', 'Malaga', 'Granada', 'Murcia', 'Alicante', 'Zaragoza']

print(empresa)

   Identificación Nombre   Apellido  Edad   Teléfono               Email  \
0        0.351814   Juan   Gonzalez    25  600000000  apostol0@gmail.com
1        0.860184  Pedro      Lopez    30  600000001  apostol1@gmail.com
2        0.930314  Maria   Martinez    22  600000002  apostol2@gmail.com
3        0.460292   Jose  Hernandez    28  600000003  apostol3@gmail.com
4        0.137052   Luis     Garcia    35  600000004  apostol4@gmail.com
5        0.966712    Ana  Rodriguez    40  600000005  apostol5@gmail.com
6        0.123173  Jisus  Fernandez    29  600000006  apostol6@gmail.com
7        0.686096  Pablo     Torres    31  600000007  apostol7@gmail.com
8        0.604440  Lucas    Ramirez    27  600000008  apostol8@gmail.com
9        0.722084  Mateo       Diaz    33  600000009  apostol9@gmail.com

      Ciudad
0     Madrid
1  Barcelona
2   Valencia
3    Sevilla
4     Bilbao
5     Malaga
6    Granada
7     Murcia
8   Alicante
9   Zaragoza